* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1a0eca, #0dd868);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  
  .weather-container {
    background: linear-gradient(135deg, #00feba, #5b548a)
    padding: 25px;
    border-radius: 12px;
    width: 100%;
    max-width: 380px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  }
  
  .weather-container h1 {
    margin-bottom: 15px;
    color: #fff;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 16px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 50%;
    text-align: center;
    padding: 10px;
    background: #2196f3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
  }
  
  button:hover {
    background: #1976d2;
  }
  
  .weather-result {
    margin-top: 20px;
    color: aliceblue;
  }
  
  .weather-result img {
    width: 90px;
    margin-bottom: 10px;
  }
  
  .weather-result h2 {
    margin-bottom: 10px;
  }
  
  .weather-result p {
    font-size: 16px;
    margin: 5px 0;
    color: #ccc;
  }
  
  @media (max-width: 480px){

    body {
      background: none;
      display: block;
      padding: 0;
    }
    .weather-container{
      box-shadow: none;
      border-radius: 0;
      max-width: 100%;
      width: 100%;
      padding: 16px;

    }
    .weather-container h1{
      font-size: 20px;
      margin-bottom: 10px;
    }
    input,button{
      font-size: 15px;
    }
    .weather-result img{
      width: 70px;
    }
    .weather-result p{
      font-size: 14px;
    }
  }

  
  /* 📲 Tablet */
  @media (min-width: 600px) {
    .weather-container {
      max-width: 450px;
      padding: 30px;
    }
  
    .weather-result p {
      font-size: 17px;
    }
  }
  
  /* 💻 Desktop */
  @media (min-width: 992px) {
    .weather-container {
      max-width: 500px;
      padding: 35px;
    }
  
    .weather-result img {
      width: 110px;
    }
  
    .weather-result p {
      font-size: 18px;
    }
  }