*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    text-align: center;
    width: 90%;
    max-width: 470px;
    padding: 40px 35px;
    margin: 100px auto 0;
    color: #fff;
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 20px;
}
.search{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0px;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0px;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather{
    margin-top: 40px;
    display: none;
}
.weather-icon{
    width: 65px;
    height: 65px;
    margin-top: 40px;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}